body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #d9dddf;
    margin:0px;
}


fieldset{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding:10px 0px 10px 0px;
    margin: 0px;
    border: none;
    color: #f5f5f8;
    text-shadow: 2px 2px #8c8a97;
    height: 100%;
    border:#101114 1px solid;
    background-color: #436b9e;
}

.credit{
    font-size: 10px;
}
main aside{
    display: flex;
    flex-direction: column;
    height: max-content;
    gap:50px;
    align-items: center ;
}

main aside section.NotreHistoire{
    width:86%;
    color: #ada38a;
}

main aside section.NotreHistoire p{
    border: solid 1px #ada38a;
    border-radius: 10px;
    padding: 10px;
    color: #555043;
}

main aside section.NotreActivite h2{
    margin:0;
    color: #ada38a;
}
main aside section.NotreActivite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap:20px;
    color: #555043;

}
main aside section.NotreActivite p{
    border: solid 1px #ada38a;
    border-radius: 10px;
    padding: 10px;
}

main aside div{
    width: 50%;
    padding: 10px;
}
iframe{
    background-color: #9c937b;
    padding:10px;
    border-radius: 10px;
    transition: transform .1s;
 }

 iframe:hover{
    transform: scale(1.09);
 }

 aside section.NotreActivite figure{
    display:flex;
    flex-direction: column;
}
aside section.NotreActivite figure a{
    margin:0;
    text-align: center;
    padding-top:10px;
    text-decoration: none;
    color:#9c937b;
 }

 

 