body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #90B494;
    margin: 0;
}

body>div{
    border: 1px solid black;
    background-color: #508860;
}
div>h1 {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

body>main>div {
    border: 2px solid black;
    border-radius: 30px;
    padding: 0.5% 2% 0.5% 2%;
    margin: 5% 1%;
}

main img{
    width: 400px;
    height: 300px;
    transition: transform .1s; 
}

main img:hover{
    transform: scale(1.09);
}

main fieldset section{
    padding: 10px;
    margin-bottom: 300px;
    text-align: center;
    padding-bottom: 40px;
    position:relative;
    border-radius: 10px;
    background-color: #DBCFB0;
}

main {
    display:flex;
    flex-direction: column;
    gap:20px;
    padding-top: 30px;
}


main fieldset section:hover{
    padding: 25px;
    border-radius: 10px;
}

main h2{
    padding:0%;
    margin: 0%;
    color: #025159;
    font-weight: bold;
    font-size:200%;
}

main fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:none;
}

main fieldset section:first-of-type a:last-of-type{
    position: absolute;
    background-color: white;
    bottom: 0px;
    left:70px;
    font-weight: bold;
    text-decoration: none;
    color: #A8A258;
    padding: 20px 20px 30px 20px;
    box-shadow: 5px 5px  silver;
    z-index: 2;
}

main fieldset section:first-of-type p{
    display:none;
    position: absolute;
    background-color: rgb(255 255 255 );
    bottom: -270px;
    left:0px;
    font-weight: bold;
    text-decoration: none;
    color: #A8A258;
    padding: 30px 60px 30px 60px;
    text-align: center;
    box-shadow: 5px 5px  silver;
    border-radius: 10px;

}

main fieldset section:first-of-type:hover p{
    display:block;
    transform: translateY(50px);
    z-index: 1;
}

main fieldset section:nth-last-of-type(2) a:last-of-type{
    position: absolute;
    background-color: white;
    bottom: 0px;
    left:5px;
    font-weight: bold;
    text-decoration: none;
    color: #A8A258;
    padding: 20px 60px 30px 60px;
    box-shadow: 5px 5px  silver;
    z-index: 2;
}

main fieldset section:nth-last-of-type(2) p{
    display:none;
    position: absolute;
    background-color: rgb(255 255 255 );
    bottom: -260px;
    left:0px;
    font-weight: bold;
    text-decoration: none;
    color: #A8A258;
    padding: 30px 60px 30px 60px;
    text-align: center;
    box-shadow: 5px 5px  silver;
    border-radius: 10px;
}

main fieldset section:nth-last-of-type(2):hover p{
    display:block;
    transform: translateY(50px);
    z-index: 1;
}

main fieldset section:last-of-type a:last-of-type{
    position: absolute;
    background-color: white;
    bottom: 00px;
    left:0px;
    font-weight: bold;
    text-decoration: none;
    color: #A8A258;
    padding: 20px 40px 30px 40px;
    box-shadow: 5px 5px  silver;
    z-index: 2;
}

main fieldset section:last-of-type p{
    display:none;
    position: absolute;
    background-color: rgb(255 255 255 );
    bottom: -275px;
    left:0px;
    font-weight: bold;
    text-decoration: none;
    color: #A8A258;
    padding: 30px 60px 30px 60px;
    text-align: center;
    box-shadow: 5px 5px  silver;
    border-radius: 10px;
}
main fieldset section:last-of-type:hover p{
    display:block;
    transform: translateY(50px);
    z-index: 1;
}

main a button {
    background-color: #DBCFB0;
    color: #06393f;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left: 50px;
    margin-bottom: 50px;
}

main a button:hover {
    background-color: #BFC8AD;
    color: #8ba8ad;
    box-shadow: 3px 3px #025159;
}

.credit{
    font-size: 10px;
}
