body {
    font-family: Arial, sans-serif;
    background-color: #d9dddf;
}

main{
    display: flex;
    flex-direction: column;
    gap:50px;
    padding-top: 20px;
}

/* ARTICLE CATCH_PHRASE */

.catch_phrase {
    text-align: center;
}

.catch_phrase h1 a{
    color: #f5f5f8;
}
.catch_phrase h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding:10px 0px 10px 0px;
    margin: 0px;
    border: none;
    color: #f5f5f8;
    text-shadow: 2px 2px #8c8a97;
    height: 100%;
    border:#101114 2px solid;
    background-color: #436b9e;
}

.catch_phrase a {
    text-decoration: none;
}

/* ARTICLE PRESENTATION */

.presentation {
    display: flex;
    flex-direction: column;
    gap:40px;
}


.presentation img {
    width:300px;
    height: auto;

}

.presentation div{
    display:flex;
    align-items: center;
    gap:10px;
    background-color: #eff3f5;
    border: solid 1px black;
    position: relative;
}

.presentation div:nth-last-of-type(2){
    margin-right: 750px;

}

.presentation div:first-of-type{
    margin-right: 750px;
}
.presentation div:nth-last-of-type(3){
    margin-left: 750px;

}

.presentation div:last-of-type{
    margin-left: 750px;
}
.credit{
    font-size: 10px;
}
/* FLECHES */


main .presentation .right{
    font-size: 100px;
    position:absolute;
    bottom:-97px;
    left: 650px;
}

main .presentation .left{
    font-size: 100px;
    position:absolute;
    bottom:-97px;
    left: 110px;
}

 /* BOUTON */

 .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.button-container button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.button-container button {
    background: tomato;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px darkred;
    cursor: pointer;
}

.button-container button:hover {
  background: linear-gradient(to right,rgb(223, 74, 48), tomato,  rgb(221, 135, 120));
}

.button-container button:visited {
    color: white;  
}